{% extends "base.html" %}
{% block content %}

<div class="container">
	<form role="form" method="post" action="/name">
		<h3>Random Generator</h3>
		<div class="form-group col-lg-2 control-label">
			<div class="col-lg-12">
				<h4>Gender</h4>
				<div class="radio">
					{{ form.gender }}
				</div>
				<button class="btn btn-sm btn-success" type="submit">Submit</button><br><br>
			</div>
		</div>
	</form>
	<br>
		{% if names is defined %}
		<div class="list-group col-lg-12 panel panel-default">
			<div class="panel-body">
			<h3>Random Name:</h3>
				{% for name in names %}
				<strong class="text-primary">
					{{ name }}
				</strong>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	
</div>


{% endblock %}