{% extends "base.html" %}
{% block content %}

{% if not session.logged_in %}
<p class="alert alert-dismissible alert-danger">
	<button type="button" class="close" data-dismiss="alert">×</button>
	Not too fast!
</p>
<p>You need to login first!</p>
{% else %}
<div class="container">
	<form class="navbar-form navbar-left" role="search" method="POST" action="/result">
		<div class="form-group">
			{{ form.search(class="form-control") }}
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
{% endif %}
<br>
<div class="container"> 
	<div class="panel-body">
		{% if search is defined %}
		<h3>Search Result:</h3>
				<h6>Name and Gender:</h6>
				{% for result in search %}
					<p><strong class="text-primary">
					{{ result }}
					</strong></p>
				{% endfor %}
				<h6>Background:</h6>
				{% for u in usage %}
					<p><strong class="text-primary">
					{{ u }}
					</strong></p>
				{% endfor %}
		{% endif %}
	</div>
</div>

{% endblock %}